* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  line-height: 1.6;
  color: map-get($colors, "text-primary");
  background: map-get($colors, "bg-primary");
  transition: all $transition-base;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: map-get($colors, "text-primary");
    text-decoration: underline;
  }
}
