@use 'variables' as *;
@use 'mixins' with (
  $breakpoints: $breakpoints // 显式传递变量
);
@use 'animations';

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  --gradient: linear-gradient(
      135deg,
      var(--primary) 0%,
      var(--secondary) 100%
  );
}

@include mixins.theme("light") {
  --primary: #E53E3E;
  --secondary: #6366F1;

}

.content_show {
  h1 {
    @include mixins.media("md") {
      font-size: 2.5rem;
    }
  }
}
