h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--text-primary);
}

/*底部容器 约束大小与位置*/
.form-window {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/*主内容区 绘制效果*/
.form-content {
  background: var(--decoration-border);;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*列表子项*/
.form-list-item {
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--decoration-border);
  background: var(--decoration-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto 5px auto;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  gap: 6px;
}

.form-list-item-content {
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.name-secondary {
  color: var(--text-secondary);
  font-size: 0.9em;
}

.detail {
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 100%;
  margin-left: 20px;
  color: var(--text-primary);
  font-size: 0.85em;
  background: var(--decoration-border);
}

.form-group {
  margin-bottom: 15px;
}

/*重置控件效果*/
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width: 768px) {
  input {
    max-width: 80vw
  }
}


.loading, .empty-state {
  text-align: center;
  padding: 40px 0;
  color: #666;
}


.empty-state img {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}


.auto-shrink-img {
  width: 24px; /* 设置目标宽度 */
  height: 24px; /* 设置目标高度 */
  object-fit: contain; /* 保持比例，完整显示图片 */
}

.auto-shrink-img-detail {
  width: 200px; /* 设置目标宽度 */
  height: 200px; /* 设置目标高度 */
  object-fit: contain; /* 保持比例，完整显示图片 */
}

.add-btn {
  background: var(--secondary);
}

.delete-btn {
  background: var(--primary);
}
