<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>apk分发</title>
    <!-- 预加载关键资源 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/distribute.css') }}" as="style">
</head>
<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="file-card">
        <div class="file-info">
            <h1 class="file-name"></h1>
            <div class="file-details">
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="qr-container">

            <img
                    src="distribute-file-image"
                    alt="下载二维码"
                    class="qr-loading qr-image"
                    onload="this.classList.remove('qr-loading')"
            >
        </div>

        <a href="download" class="download-btn">
            ⬇️ 下载
        </a>
    </div>
</div>
<footer>
    {% include 'copyright.html' %}
</footer>
<script src=/static/js/distribute.js>

</script>
</body>
</html>