{% extends "base.html" %}
{% block title %}docx{% endblock %}

{% block head %}
{{ super() }}
<meta name="description" content="docx">
<link rel="stylesheet" href="{{ url_for('static', filename=css_path) }}" as="style">

{% endblock %}

{% block content %}
<section class="content_text">
    <div id="toc-container"></div>

    <div id="doc-container"></div>
</section>
<script src="https://unpkg.com/mammoth@1.4.16/mammoth.browser.min.js"></script>
<script src="{{ url_for('static', filename=js_path) }}"></script>
{% endblock %}
