{% extends "base.html" %}
{% block title %}docx{% endblock %}

{% block head %}
{{ super() }}
<meta name="description" content="docx">

<style>
    /* 目录样式 */
    #toc-container {
        position: fixed;
        left: 20px;
        top: 100px;
        width: 250px;
        padding: 15px;
        border-right: 1px solid #ddd;
        overflow-y: auto;
        max-height: 80vh;
    }

    #doc-container {
        margin-left: 20px;
        padding: 20px;
    }


</style>
{% endblock %}

{% block content %}
<section class="content_text">
    <div id="toc-container"></div>

    <div id="doc-container"></div>
</section>
<script src="https://unpkg.com/mammoth@1.4.16/mammoth.browser.min.js"></script>
<script src="{{ url_for('static', filename=js_path) }}"></script>
{% endblock %}
