{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block head %}
{{ super() }}
<meta name="description" content="内部分发">
{% endblock %}

{% block content %}

<section class="content_show">
    <div>
        <h1>服务器部署与网站建设</h1>
        <p>首页导航</p>
    </div>
</section>


<div class="card-grid">
    <article class="card">
        <h2>前端开发</h2>
        <p>Android, Html5+css3</p>
        <div class="progress-bar">
            <div class="progress" style="width: 75%"></div>
        </div>
    </article>

    <article class="card">
        <h2>后端开发</h2>
        <p>Flask+Gunicorn+Nginx, 数据库与API设计</p>
        <div class="progress-bar">
            <div class="progress" style="width: 60%"></div>
        </div>
    </article>

</div>
{% endblock %}

