<!DOCTYPE html>
<html>
<head>
    <title>Live2D Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.x/lib/Live2D.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/live2d.min.js') }}"></script>

    <script src="js/live2dcubismcore.js"></script> <!-- 扩展功能 -->
    <style>
        #live2d-canvas { width: 300px; height: 600px; }
    </style>
</head>
<body>
<canvas id="live2d-canvas"></canvas>

<script src="{{ url_for('static', filename='js/live2d.app.js') }}"></script>
</body>
</html>
