<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>索引页面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- 可选的样式 -->
</head>
<body>
    <header>
        <h1>欢迎来到我的网站</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.resume') }}">简历</a></li>
                <li><a href="{{ url_for('main.study') }}">随机刷题</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>随机刷题</h2>
        <ul>
            <li><a href="{{ url_for('main.resume') }}">简历</a></li>
            <li><a href="{{ url_for('main.study') }}">随机刷题</a></li>
            <!-- 可以根据需要添加更多的链接 -->
        </ul>
    </main>
    <footer>
        {% include 'copyright.html' %}
    </footer>
</body>
</html>
